<form>
  <input type="text" placeholder="Name">
  <input type="text" placeholder="Rows">
  <input type="text" placeholder="Columns">
  <input type="submit">
</form>

<table>
  <tr>
    <th>Name</th>
    <th>Rows</th>
    <th>Columns</th>
    <th>Seats</th>
  </tr>
</table>