<input type="text" placeholder="Name" class="name_field">
<input type="text" placeholder="Rows" class="rows_field">
<input type="text" placeholder="Columns" class="columns_field">
<button class="cancel_plane_form">Cancel</button>
<input type="submit" value="Save" class="save_plane">
