<ul>
<% @airplanes.each do |airplane| %>
  <li><%= airplane.name %></li>
  <li><%= airplane.rows %></li>
  <li><%= airplane.columns %></li>
  <li><%= airplane.columns * airplane.rows %></li>
<% end %>
</ul>